.multipleSelect ::-webkit-scrollbar
{
    width: 2px;
    height: 9px;
}
.multipleSelect ::-webkit-scrollbar-track-piece
{
    background-color: #ebebeb;
    -webkit-border-radius: 2px;
}
.multipleSelect ::-webkit-scrollbar-thumb:vertical
{
    height: 32px;
    background-color: #ccc;
    -webkit-border-radius: 2px;
}
.multipleSelect ::-webkit-scrollbar-thumb:horizontal
{
    width: 32px;
    background-color: #ccc;
    -webkit-border-radius: 2px;
}
.multipleSelect{
    position: relative;
}
.multipleSelect .inputWrap{
    width:100%;
    min-height: calc(2.75rem + 2px);
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}
.multipleSelect .inputWrap>span.tips{
    display: block;
    margin: 11px;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.2rem;
    color: #495057;
}
.multipleSelect ul{
    padding:0 5px ;
    margin: 0;
    padding-right: 35px;
}
.multipleSelect ul,.multipleSelect li{
    list-style: none;
}
.multipleSelect li{
    display: inline-block;
    background: #eaeaea;
    padding: 5px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
}
.multipleSelect.single li{
    background: rgb(0,0,0,0);
}
.multipleSelect li{
    display: inline-block;
    background: #eaeaea;
    padding: 5px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
}
.multipleSelect li i{
    font-size: 0.8em;
}
.multipleSelect .fa-close{
    cursor: pointer;
}
.multipleSelect .fa-close:hover{
    color: #237eff;
}
.multipleSelect .multipleSelect-option{
    width: 100%;
    border: 1px solid #ccc;
    border-top: 0px solid #ccc;
    overflow-y: scroll;
    position: absolute;
    background: white;
    opacity: 0;
    max-height:320px;
    display: none;
    z-index: 5;
}
.multipleSelect .multipleSelect-option.on{
    display: block;
}

.multipleSelect .multipleSelect-option div{
    padding: 10px;
}
.multipleSelect .inputWrap>i{
    position: absolute;
    padding: 13px;
    right: 0;
    top: 0;
}
.multipleSelect-option div{
    cursor: pointer;
}
.multipleSelect-option div i{
    float: right;
    color: #ffffff;
}
.multipleSelect-option div.selected{
    background: #fafafa;
}
.multipleSelect-option div.selected i{
    float: right;
    color: #000000;
}
.multipleSelect-option div:hover{
    background: #e6f7ff;
}
.multipleSelect-option div:hover i{
    color: #000000;
}